<%= form_with(model: color, local: true, html: {class: 'form-horizontal'}) do |form| %>
    <% if color.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(color.errors.count, "error") %> prohibited this color from being saved:</h2>

          <ul>
            <% color.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class='form-group'>
      <label class="col-sm-3 control-label">
        <%= form.label :name %>
      </label>
      <div class='col-sm-9'>
        <%= form.text_field :name, id: :color_name, class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <label class="col-sm-3 control-label">
        <%= form.label :note %>
      </label>
      <div class='col-sm-9'>
        <%= form.text_field :note, id: :color_note, class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <div class='col-sm-offset-3 col-sm-9'>
        <%= form.submit class: 'btn btn-success' %>
      </div>
    </div>

<% end %>
