<div class="panel panel-primary">
  <div class="panel-heading">カラー</div>
</div>
<table class='table table-hover table-bordered table-condensed'>
  <thead>
  <tr class="active">
    <th>
      <div class="text-center">名前</div>
    </th>
    <th>
      <div class="text-center">メモ</div>
    </th>
    <th colspan="2" style="width:1%"></th>
  </tr>
  </thead>

  <tbody>
  <% @colors.each do |color| %>
      <tr>
        <td><%= color.name %></td>
        <td><%= color.note %></td>
        <% if false %>
            <td><%= link_to BUTTON[:SHOW_NAME], color, class: 'btn btn-primary' %></td>
        <% end %>
        <td><%= link_to BUTTON[:EDIT_NAME], edit_color_path(color), class: 'btn btn-primary' %></td>
        <td><%= link_to BUTTON[:DELETE_NAME], color, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to BUTTON[:CREATE_NAME], new_color_path, class: 'btn btn-primary' %>
