<!DOCTYPE html>
<html>
  <head>
    <title>SAMPLE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <header>
        <nav>
          <ul class="nav navbar-right">
            <% if staff_signed_in? %>
                <%= link_to 'トップ', root_path, class: 'btn btn-primary' %>
                <%= link_to 'ログアウト', destroy_staff_session_path, method: :delete, class: 'btn btn-primary' %>
            <% else %>
            <% end %>
          </ul>
        </nav>
      </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
